{% extends "inventorysite/base_page.html" %}
{% load staticfiles %}

{% block content %}

{% if form.errors %}
	<p> Information improperly formatted or empty. Try again </p>
{% endif %}

<h2 class = "alignCenter"> Add Employee </h2>
<form name = "employeeInfoForm" onsubmit = "return validateForm()" id = "addEmployeeForm" method = "POST" class = "post-form"> {% csrf_token %}
	<div id = "basicEmployeeInfo">
		<h4> Employee Information </h4>
		{{ form.as_p }}
	</div>
	{{ computer_formset.management_form }}
	{{ wd_formset.management_form }}
	{{ phone_formset.management_form }}
	{{ laptop_formset.management_form }}
	{{ printer_formset.management_form }}
	{{ barcode_formset.management_form }}
	{{ cradle_formset.management_form }}
	{{ scanner_formset.management_form }}
	{{ bio_formset.management_form }}
	<div id = "pcForm">
		{% for form in computer_formset.forms %}
			<h4> PC Information </h4>
			{{ form.as_p }}
		{% endfor %}
	</div>
	<div id = "wdForm">
		{% for form in wd_formset.forms %}
			<h4> Wireless Device Information </h4>
			{{ form.as_p }}
		{% endfor %}
	</div>
	<div id = "phoneForm">
		{% for form in phone_formset.forms %}
			<h4> Phone Information </h4>
			{{ form.as_p }}
		{% endfor %}
	</div>
	<div id = "laptopForm">
		{% for form in laptop_formset.forms %}
			<h4> Laptop Information </h4>
			{{ form.as_p }}
		{% endfor %}
	</div>
	<div id = "printerForm">
		{% for form in printer_formset.forms %}
			<h4> Printer Information </h4>
			{{ form.as_p }}
		{% endfor %}
	</div>
	<div id = "barcodeForm">
		{% for form in barcode_formset.forms %}
			<h4> Barcode Scanner Information </h4>
			{{ form.as_p }}
		{% endfor %}
	</div>
	<div id = "cradleForm">
		{% for form in cradle_formset.forms %}
			<h4> Barcode Scannner Cradle Information </h4>
			{{ form.as_p }}
		{% endfor %}
	</div>
	<div id = "scannerForm">
		{% for form in scanner_formset.forms %}
			<h4> Scanner Information </h4>
			{{ form.as_p }}
		{% endfor %}
	</div>
	<div id = "bioForm">
		{% for form in bio_formset.forms %}
			<h4> Biometric Scanner Information </h4>
			{{ form.as_p }}
		{% endfor %}
	</div>
	
	<!-- removableDiv required for jQuery deletion -->
	<div class = "newPCForm">
		<div class = "removableDiv">
			<h4> PC Information </h4>
			<input type = "button" value = "Delete" class = "delete_pc"> 
			{{ computer_formset.empty_form.as_p }}
		</div>
	</div>
	<div class = "newWDForm">
		<div class = "removableDiv">
			<h4> Wireless Device Information </h4>
			<input type = "button" value = "Delete" class = "delete_wd"> 
			<p> Please don't register dates here. Add dates when you submit form. </p>
			{{ wd_formset.empty_form.as_p }}
		</div>
	</div>
	<div class = "newPhoneForm">
		<div class = "removableDiv">
			<h4> Phone Information </h4>
			<input type = "button" value = "Delete" class = "delete_phone"> 
			{{ phone_formset.empty_form.as_p }}
		</div>
	</div>
	<div class = "newLaptopForm">
		<div class = "removableDiv">
			<h4> Laptop Information </h4>
			<input type = "button" value = "Delete" class = "delete_laptop"> 
			{{ laptop_formset.empty_form.as_p }}
		</div>
	</div>
	<div class = "newPrinterForm">
		<div class = "removableDiv">
			<h4> Printer Information </h4>
			<input type = "button" value = "Delete" class = "delete_printer"> 
			{{ printer_formset.empty_form.as_p }}
		</div>
	</div>
	<div class = "newBarcodeForm">
		<div class = "removableDiv">
			<h4> Barcode Scanner Information </h4>
			<input type = "button" value = "Delete" class = "delete_bs"> 
			{{ barcode_formset.empty_form.as_p }}
		</div>
	</div>
	<div class = "newCradleForm">
		<div class = "removableDiv">
			<h4> Barcode Scanner Cradle Information </h4>
			<input type = "button" value = "Delete" class = "delete_bsc"> 
			{{ cradle_formset.empty_form.as_p }}
		</div>
	</div>
	<div class = "newScannerForm">
		<div class = "removableDiv">
			<h4> Scanner Information </h4>
			<input type = "button" value = "Delete" class = "delete_scanner"> 
			{{ scanner_formset.empty_form.as_p }}
		</div>
	</div>
	<div class = "newBioForm">
		<div class = "removableDiv">
			<h4> Biometric Scanner Information </h4>
			<input type = "button" value = "Delete" class = "delete_bis"> 
			{{ bio_formset.empty_form.as_p }}
		</div>
	</div>
	<button id = "submitEmployeeInfo" type = "submit" class = "save btn btn-default"> Submit </button>

	<div id = "addDeviceButtons">
		<h3> Select Devices to Add: </h3>
		<input type = "button" value = "PC" id = "add_pc"> 
		<input type = "button" value = "Wireless Device" id = "add_wd">
		<input type = "button" value = "IP Phone" id = "add_phone">
		<input type = "button" value = "Laptop" id = "add_laptop">
		<input type = "button" value = "Printer" id = "add_printer">
		<input type = "button" value = "Barcode Scanner" id = "add_bs">
		<input type = "button" value = "Barcode Scanner Cradle" id = "add_bsc">
		<input type = "button" value = "Scanner" id = "add_scanner">
		<input type = "button" value = "Biometric Scanner" id = "add_bis">
	</div>
</form>

{% endblock content %}
