{% extends "inventorysite/base_page.html" %}
{% load staticfiles %}

{% block content %}

<table class = "showDevicesTable">
	<thead>
		<caption> <h3> All Employees </h3> </caption>
		<th title = "Last Name"> Last Name </th>
		<th title = "First Name"> First Name </th>
		<th title = "Location"> Location </th>
		<th title = "Department"> Department </th>
		<th title = "ID"> ID </th>
		<th title = "E-mail"> E-mail </th>
	</thead>
	{% for employee in all_employees %}
		<tr>
			<td title = "{{ employee.last_name }}"> <a href = "{% url "inventorysite.views.show_employee_info" pk=employee.pk %}"> {{ employee.last_name }} </a> </td>
			<td title = "{{ employee.first_name }}"> {{ employee.first_name }} </td>
			<td title = "{{ employee.location }}"> {{ employee.location }} </td>
			<td title = "{{ employee.department }} "> {{ employee.department }} </td>
			<td title = "{{ employee.employee_id }}"> {{ employee.employee_id }} </td>
			<td title = "{{ employee.email }}"> {{ employee.email }} </td>
		</tr>
	{% endfor %}
</table>

{% endblock content %}
