{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title> OCME Inventory Management </title>
		<link type = "text/css" rel = "stylesheet" href = "{% static "css/style.css" %}"/>
		<link type = "text/css" rel = "stylesheet" href = "{% static "css/jquerystyle.css" %}"/>
		<script type = "text/javascript" src = "{% static "javascript/JQUERY.js" %}"> </script>
		<script type = "text/javascript" src = "{% static "javascript/script.js" %}"> </script>
		<script type = "text/javascript" src = "{% static "javascript/script2.js" %}"> </script>
		<script type = "text/javascript" src = "{% static "javascript/script3.js" %}"> </script>
	</head>
	<body>
		<div id = "headerDiv">
			<a href = "/"> <img src = "{% static "images/logo.png" %}"/> </a>
		</div>
		{% if user.is_authenticated %}
			<a id = "logoutLink" href = "{% url "inventorysite.views.logout_page" %}"> <div> Log out </div> </a>
		{% endif %}
		{% if user.is_authenticated %} <a id = "searchLink" href = "{% url "inventorysite.views.search_page" %}"> <div> Search </div> </a> {% endif %}
		{% if user.is_authenticated %} <a id = "addLink" href = "{% url "inventorysite.views.add_page" %}"> <div> Add </div> </a> {% endif %}
		{% if user.is_authenticated %}
			<p id = "loginP"> Logged in as: {{ user.username }} </p>
		{% endif %}
		<div id = "mainBody">
			<div id = "contentDiv">
				{% block content %}
				{% endblock content %}
			</div>
		</div>
	</body>
</html>
