{% extends "inventorysite/base_page.html" %}
{% load staticfiles %}

{% block content %}

<h2 class = "alignCenter"> EDIT EMPLOYEE INFORMATION </h2>
<form name = "employeeInfoForm" onsubmit = "return validateForm()" id = "addEmployeeForm" method = "POST" class = "post-form"> {% csrf_token %}
	<a href = "{% url "inventorysite.views.show_employee_info" pk=employee.pk %}" id = "cancelNewDeviceA"> <div id = "cancelNewDevice"> Cancel </div> </a>
	<div id = "basicEmployeeInfo">
		<h4> Employee Information </h4>
		{{ form.as_p }}
	</div>
	<button id = "submitEmployeeInfo" type = "submit" class = "save btn btn-default"> Submit </button>
	<!--
	<div id = "addDeviceButtons">
		<h3> Select Devices to Add: </h3>
		<input type = "button" value = "PC" id = "add_pc"> 
		<input type = "button" value = "Wireless Device" id = "add_wd">
		<input type = "button" value = "IP Phone" id = "add_phone">
		<input type = "button" value = "Laptop" id = "add_laptop">
		<input type = "button" value = "Printer" id = "add_printer">
		<input type = "button" value = "Barcode Scanner" id = "add_bs">
		<input type = "button" value = "Barcode Scanner Cradle" id = "add_bsc">
		<input type = "button" value = "Scanner" id = "add_scanner">
		<input type = "button" value = "Biometric Scanner" id = "add_bis">
	</div>
	{{ computer_formset.management_form }}
	{{ wd_formset.management_form }}
	{{ phone_formset.management_form }}
	{{ laptop_formset.management_form }}
	{{ printer_formset.management_form }}
	{{ barcode_formset.management_form }}
	{{ cradle_formset.management_form }}
	{{ scanner_formset.management_form }}
	{{ bio_formset.management_form }}

	{% for form in computer_formset.forms %}
		<h4> PC Information </h4>
		{{ form.as_p }}
	{% endfor %}
	
	{{ computer_formset.empty_form.as_p }}

	{% for form in wd_formset.forms %}
		<h4> Wireless Device Information </h4>
		{{ form.as_p }}
	{% endfor %}

	{% for form in phone_formset.forms %}
		<h4> Phone Information </h4>
		{{ form.as_p }}
	{% endfor %}

	{% for form in laptop_formset.forms %}
		<h4> Laptop Information </h4>
		{{ form.as_p }}
	{% endfor %}

	{% for form in printer_formset.forms %}
		<h4> Printer Information </h4>
		{{ form.as_p }}
	{% endfor %}
	
	{% for form in barcode_formset.forms %}
		<h4> Barcode Scanner Information </h4>
		{{ form.as_p }}
	{% endfor %}

	{% for form in cradle_formset.forms %}
		<h4> Barcode Scanner Cradle Information </h4>
		{{ form.as_p }}
	{% endfor %}

	{% for form in scanner_formset.forms %}
		<h4> Scanner Information </h4>
		{{ form.as_p }}
	{% endfor %}

	{% for form in bio_formset.forms %}
		<h4> Biometric Scanner Information </h4>
		{{ form.as_p }}
	{% endfor %}
	
	<div class = "newPCForm">
		<div class = "removableDiv">
			<h4> PC Information </h4>
			<input type = "button" value = "Delete" class = "delete_pc"> 
			{{ computer_formset.empty_form.as_p }}
		</div>
	</div>
	//-->
</form>

{% endblock content %}
