{% extends "inventorysite/base_page.html" %}
{% load staticfiles %}

{% block content %}

<h2 class = "alignCenter"> Edit Device Information </h2>

<a href = "{% url "inventorysite.views.show_employee_info" pk=employee.pk %}" id = "cancelNewDeviceA"> <div id = "cancelNewDevice"> Cancel </div> </a>
<form id = "addEmployeeForm" method = "POST" class = "post-form"> {% csrf_token %}
{{ form.as_p }}
<button id = "submitNewDevice" type = "submit" class = "save btn btn-default"> Submit </button>
</form>

{% endblock content %}
