{% extends "inventorysite/base_page.html" %}
{% load staticfiles %}

{% block content %}

{% if user.is_authenticated %}
	<div id = "listsDiv">
		<h3> Lists </h3>
		<ul>
			<li> Location and employee lists:
				<ul>
					<li> <a href = "{% url "inventorysite.views.show_area_detail" location="all" department="none" %}"> Locations </a> </li>
					<li> <a href = "{% url "inventorysite.views.show_area_detail" location="none" department="all"%}"> Departments </a> </li>
					<li> <a href = "{% url "inventorysite.views.show_all_employees" %}"> Employees </a> </li>
				</ul>
			</li>
			<li> Device lists:
				<ul>
					<li> <a href = "{% url "inventorysite.views.show_all_computers" %}"> Computers </a> </li>
					<li> <a href = "{% url "inventorysite.views.show_all_wdevices" %}"> Wireless Devices </a> </li>
					<li> <a href = "{% url "inventorysite.views.show_all_phones" %}"> IP Phones </a> </li>
					<li> <a href = "{% url "inventorysite.views.show_all_laptops" %}"> Laptops </a> </li>
					<li> <a href = "{% url "inventorysite.views.show_all_printers" %}"> Printers </a> </li>
					<li> <a href = "{% url "inventorysite.views.show_all_barscanners" %}"> Barcode Scanners </a> </li>
					<li> <a href = "{% url "inventorysite.views.show_all_cradles" %}"> Barcode Scanner Cradles </a> </li>
					<li> <a href = "{% url "inventorysite.views.show_all_scanners" %}"> Scanners </a> </li>
					<li> <a href = "{% url "inventorysite.views.show_all_bioscanners" %}"> Biometric Scanners </a> </li>
				</ul>
			</li>
		</ul>
	</div>
{% else %}
	<h2 class = "alignCenter"> LOG IN FOR ACCESS </h2>
	<form id = "loginForm" method = "POST" class = "post-form"> {% csrf_token %}
		{{ form.as_p }}
		{% if invalid_login %} <p id = "badLogin"> Invalid login credentials </p> {% endif %}
		<button type = "submit" class = "save btn btn-default"> Log in </button>
	</form>
{% endif %}

{% endblock content %}
