{% extends "inventorysite/base_page.html" %}
{% load staticfiles %}

{% block content %}

<h2 class = "alignCenter"> Confirm Return </h2>
<h4 class = "alignCenter"> This device will be returned to OCME. Continue? </h4>
<form id = "addEmployeeForm" method = "POST" class = "post-form"> {% csrf_token %}
<a href = "{% url "inventorysite.views.show_employee_info" pk=employee.pk %}" id = "cancelNewDeviceA"> <div id = "falseDelete"> Cancel </div> </a>
<button id = "trueDelete" type = "submit" class = "save btn btn-default"> OK </button>
</form>

{% endblock content %}
