{% extends "inventorysite/base_page.html" %}
{% load staticfiles %}

{% block content %}

<h2 class = "alignCenter"> SEARCH </h2>
<form id = "fillSearchForm" method = "POST" class = "post-form"> {% csrf_token %}
	{{ form.as_p }}
	<button type = "submit" class = "save btn btn-default"> Search </button>
</form>

{% endblock content %}
