{% extends "inventorysite/base_page.html" %}
{% load staticfiles %}

{% block content %}

{% if location == "all" and department = "none" %}
	<h2> All Locations </h2>
	{% for location in all_locations %}
		<a class = "blackLink" href = "{% url "inventorysite.views.show_area_detail" location=location department="all" %}"> {{ location }} </a> <br> <br>
	{% endfor %}
{% elif location == "none" and department == "all" %}
	<h2> All Departments </h2>
	<div id = "dnaDepartments">
		<h4> DNA Departments </h4>
		{% for department in dna_departments %}
			<a class = "blackLink" href = "{% url "inventorysite.views.show_area_detail" location="DNA" department=department%}"> {{ department }} </a> <br>
		{% endfor %}
	</div>
	<div id = "ftDepartments">
		<h4> 520 Departments </h4>
		{% for department in ft_departments %}
			<a class = "blackLink" href = "{% url "inventorysite.views.show_area_detail" location="520" department=department%}"> {{ department }} </a> <br>
		{% endfor %}
	</div>
	<div id = "bronxDepartments">
		<h4> Bronx Departments </h4>
		{% for department in bronx_departments %}
			<a class = "blackLink" href = "{% url "inventorysite.views.show_area_detail" location="Bronx" department=department %}"> {{ department }} </a> <br>
		{% endfor %}
	</div>
	<div id = "queensDepartments">
		<h4> Queens Departments </h4>
		{% for department in queens_departments %}
			<a class = "blackLink" href = "{% url "inventorysite.views.show_area_detail" location="Queens" department=department %}"> {{ department }} </a> <br>
		{% endfor %}
	</div>
	<div id = "siDepartments">
		<h4> Staten Island Departments </h4>
		{% for department in si_departments %}
			<a class = "blackLink" href = "{% url "inventorysite.views.show_area_detail" location="SI" department=department %}"> {{ department }} </a> <br>
		{% endfor %}
	</div>
{% elif department == "all" %}
	<h4> Departments at {{ location }} </h4>
	{% for department in all_departments %}
		<a class = "blackLink" href = "{% url "inventorysite.views.show_area_detail" location=location department=department%}"> {{ department }} </a> <br>
	{% endfor %}
{% else %}
	<table class = "showDevicesTable">
		<thead>
			<caption> <h3> Employees at {{ location }} in {{ department }} </h3> </caption>
			<th title = "Last Name"> Last Name </th>
			<th title = "First Name"> First Name </th>
			<th title = "ID"> ID </th>
			<th title = "E-mail"> E-mail </th>
		</thead>
		{% for employee in match_employees %}
			<tr>
				<td title = "{{ employee.last_name }}"> <a href = "{% url "inventorysite.views.show_employee_info" pk=employee.pk %}"> {{ employee.last_name }} </a> </td>
				<td title = "{{ employee.first_name }}"> {{ employee.first_name }} </td>
				<td title = "{{ employee.employee_id }}"> {{ employee.employee_id }} </td>
				<td title = "{{ employee.email }}"> {{ employee.email }} </td>
			</tr>
		{% endfor %}
	</table>
{% endif %}

{% endblock content %}
