{% extends "inventorysite/base_page.html" %}
{% load staticfiles %}

{% block content %}

{% if employee.is_terminated %} <h1 id = "showTerminate"> THIS EMPLOYEE HAS BEEN TERMINATED </h1> {% endif %}
<h2> {{ employee.last_name }}, {{ employee.first_name }} </h2>
<p> <strong> Location: </strong> {{ employee.location }} </p>
<p> <strong> Department: </strong> {{ employee.department }} </p>
<p> <strong> ID: </strong> {{ employee.employee_id }} </p>
<p> <strong> E-mail: </strong> {{ employee.email }} </p>
{% if employee.pk != 1 %}
	{% if user.is_authenticated %} <a id = "editLink" href = "{% url "inventorysite.views.edit_employee_info" pk=employee.pk %}"> <div> Edit </div> </a> {% endif %}
	{% if user.is_authenticated %} <a id = "terminateLink" href = "{% url "inventorysite.views.terminate_employee" pk=employee.pk %}"> <div> Terminate </div> </a> {% endif %}
{% endif %}

<table class = "showDevicesTable">
	<thead>
		<caption> <h3> Computers </h3> {% if not employee.is_terminated %} <a href = "{% url "inventorysite.views.add_pc" pk=employee.pk %}"> <div class = "addDevice"> Add </div> </a> {% endif %} </caption>
		<th title = "Manufacturer"> Manufacturer </th>
		<th title = "Model"> Model </th>
		<th title = "Host Name"> Host Name </th>
		<th title = "Service Tag"> Service Tag </th>
		<th title = "Asset Tag"> Asset Tag </th>
		<th title = "Owner"> Owner </th>
	</thead>
	{% for computer in employee.computers.all %}
		<tr class = "viewPC">
			<td title = "{{ computer.pc_manufacturer }}"> {{ computer.pc_manufacturer }} </td>
			<td title = "{{ computer.pc_model }}"> {{ computer.pc_model }} </td>
			<td title = "{{ computer.pc_host_name }}"> {{ computer.pc_host_name }} </td>
			<td title = "{{ computer.pc_service_tag }}"> {{ computer.pc_service_tag }} </td>
			<td title = "{{ computer.pc_asset_tag }}"> {{ computer.pc_asset_tag }} </td>
			<td title = "{{ computer.pc_owner }}"> {{ computer.pc_owner }} </td>
			<td title = "Delete"> <a class = "showDelete" href = "{% url "inventorysite.views.delete_pc" pk=employee.pk pk2=computer.pk %}"> Delete </a> </td>
			<td title = "Return"> <a class = "showDelete" href = "{% url "inventorysite.views.return_pc" pk=employee.pk pk2=computer.pk %}"> Return </a> </td>
			<td title = "Edit"> <a class = "showDelete" href = "{% url "inventorysite.views.edit_pc" pk=employee.pk pk2=computer.pk %}"> Edit </a> </td>
		</tr>
	{% endfor %}
</table> <br>

<table class = "showDevicesTable">
	<thead>
		<caption> <h3> Wireless Devices </h3> {% if not employee.is_terminated %} <a title href = "{% url "inventorysite.views.add_wd" pk=employee.pk %}"> <div class = "addDevice"> Add </div> </a> {% endif %} </caption>
		<th title = "Type"> Type </th>
		<th title = "Manufacturer"> Manufacturer </th>
		<th title = "Carrier"> Carrier </th>
		<th title = "Model"> Model </th>
		<th title = "Number"> Number </th>
		<th title = "Serial Number"> Serial Number </th>
		<th title = "MEID"> MEID </th>
		<th title = "Asset Tag"> Asset Tag </th>
		<th title = "Deploy Date"> Deploy Date </th>
		<th title = "Return Date"> Return Date </th>
	</thead>
	{% for wd in employee.wdevices.all %}
		<tr class = "viewWD">
			<td title = "{{ wd.wd_type }}"> {{ wd.wd_type }} </td>
			<td title = "{{ wd.wd_manufacturer }}"> {{ wd.wd_manufacturer }} </td>
			<td title = "{{ wd.wd_carrier}}"> {{ wd.wd_carrier}} </td>
			<td title = "{{ wd.wd_model }}"> {{ wd.wd_model }} </td>
			<td title = "{{ wd.wd_number }}"> {{ wd.wd_number }} </td>
			<td title = "{{ wd.wd_serial_number }}"> {{ wd.wd_serial_number }} </td>
			<td title = "{{ wd.wd_meid }}"> {{ wd.wd_meid }} </td>
			<td title = "{{ wd.wd_asset_tag }}"> {{ wd.wd_asset_tag }} </td>
			<td title = "{{ wd.wd_date_deployed }}"> {{ wd.wd_date_deployed }} </td>
			<td title = "{{ wd.wd_date_returned }}"> {{ wd.wd_date_returned }} </td>
			<td title = "Delete"> <a class = "showDelete" href = "{% url "inventorysite.views.delete_wd" pk=employee.pk pk2=wd.pk %}"> Delete </a> </td>
			<td title = "Return"> <a class = "showDelete" href = "{% url "inventorysite.views.return_wd" pk=employee.pk pk2=wd.pk %}"> Return </a> </td>
			<td title = "Edit"> <a class = "showDelete" href = "{% url "inventorysite.views.edit_wd" pk=employee.pk pk2=wd.pk %}"> Edit </a> </td>
		</tr>
	{% endfor %}
</table> <br>

<table class = "showDevicesTable">
	<thead>
		<caption> <h3> IP Phones </h3> {% if not employee.is_terminated %} <a href = "{% url "inventorysite.views.add_phone" pk=employee.pk %}"> <div class = "addDevice"> Add </div> </a> {% endif %} </caption>
		<th title = "Manufacturer"> Manufacturer </th>
		<th title = "Model"> Model </th>
		<th title = "Number"> Number </th>
		<th title = "Serial Number"> Serial Number </th>
		<th title = "MAC"> MAC </th>
		<th title = "Asset Tag"> Asset Tag </th>
	</thead>
	{% for phone in employee.phones.all %}
		<tr class = "viewPhone">
			<td title = "{{ phone.phone_manufacturer }}"> {{ phone.phone_manufacturer }} </td>
			<td title = "{{ phone.phone_model }}"> {{ phone.phone_model }} </td>
			<td title = "{{ phone.phone_number }}"> {{ phone.phone_number }} </td>
			<td title = "{{ phone.phone_serial_number }}"> {{ phone.phone_serial_number }} </td>
			<td title = "{{ phone.phone_mac }}"> {{ phone.phone_mac }} </td>
			<td title = "{{ phone.phone_asset_tag }}"> {{ phone.phone_asset_tag }} </td>
			<td title = "Delete"> <a class = "showDelete" href = "{% url "inventorysite.views.delete_phone" pk=employee.pk pk2=phone.pk %}"> Delete </a> </td>
			<td title = "Return"> <a class = "showDelete" href = "{% url "inventorysite.views.return_phone" pk=employee.pk pk2=phone.pk %}"> Return </a> </td>
			<td title = "Edit"> <a class = "showDelete" href = "{% url "inventorysite.views.edit_phone" pk=employee.pk pk2=phone.pk %}"> Edit </a> </td>
		</tr>
	{% endfor %}
</table> <br>


<table class = "showDevicesTable">
	<thead>
		<caption> <h3> Laptops </h3> {% if not employee.is_terminated %} <a href = "{% url "inventorysite.views.add_laptop" pk=employee.pk %}"> <div class = "addDevice"> Add </div> </a> {% endif %} </caption>
		<th title = "Manufacturer"> Manufacturer </th>
		<th title = "Model"> Model </th>
		<th title = "Host Name"> Host Name </th>
		<th title = "Service Tag"> Service Tag </th>
		<th title = "Asset Tag"> Asset Tag </th>
		<th title = "Owner"> Owner </th> 
	</thead>
	{% for laptop in employee.laptops.all %}
		<tr class = "viewLaptop">
			<td title = "{{ laptop.laptop_manufacturer }}"> {{ laptop.laptop_manufacturer }} </td>
			<td title = "{{ laptop.laptop_model }}"> {{ laptop.laptop_model }} </td>
			<td title = "{{ laptop.laptop_host_name }}"> {{ laptop.laptop_host_name }} </td>
			<td title = "{{ laptop.laptop_service_tag }}"> {{ laptop.laptop_service_tag }} </td>
			<td title = "{{ laptop.laptop_asset_tag }}"> {{ laptop.laptop_asset_tag }} </td>
			<td title = "{{ laptop.laptop_owner }}"> {{ laptop.laptop_owner }} </td>
			<td title = "Delete"> <a class = "showDelete" href = "{% url "inventorysite.views.delete_laptop" pk=employee.pk pk2=laptop.pk %}"> Delete </a> </td>
			<td title = "Return"> <a class = "showDelete" href = "{% url "inventorysite.views.return_laptop" pk=employee.pk pk2=laptop.pk %}"> Return </a> </td>
			<td title = "Edit"> <a class = "showDelete" href = "{% url "inventorysite.views.edit_laptop" pk=employee.pk pk2=laptop.pk %}"> Edit </a> </td>
		</tr>
	{% endfor %}
</table> <br>

<table class = "showDevicesTable">
	<thead>
		<caption> <h3> Printers </h3> {% if not employee.is_terminated %} <a href = "{% url "inventorysite.views.add_printer" pk=employee.pk %}"> <div class = "addDevice"> Add </div> </a> {% endif %} </caption>
		<th title = "Manufacturer"> Manufacturer </th>
		<th title = "Model"> Model </th>
		<th title = "Serial Number"> Serial Number </th>
		<th title = "Asset Tag"> Asset Tag </th>
		<th title = "Owner"> Owner </th> 
	</thead>
	{% for printer in employee.printers.all %}
		<tr class = "viewPrinter">
			<td title = "{{ printer.printer_manufacturer }}"> {{ printer.printer_manufacturer }} </td>
			<td title = "{{ printer.printer_model }}"> {{ printer.printer_model }} </td>
			<td title = "{{ printer.printer_serial_number }}"> {{ printer.printer_serial_number }} </td>
			<td title = "{{ printer.printer_asset_tag }}"> {{ printer.printer_asset_tag }} </td>
			<td title = "{{ printer.printer_owner }}"> {{ printer.printer_owner }} </td>
			<td title = "Delete"> <a class = "showDelete" href = "{% url "inventorysite.views.delete_printer" pk=employee.pk pk2=printer.pk %}"> Delete </a> </td>
			<td title = "Return"> <a class = "showDelete" href = "{% url "inventorysite.views.return_printer" pk=employee.pk pk2=printer.pk %}"> Return </a> </td>
			<td title = "Edit"> <a class = "showDelete" href = "{% url "inventorysite.views.edit_printer" pk=employee.pk pk2=printer.pk %}"> Edit </a> </td>
		</tr>
	{% endfor %}
</table> <br>

<table class = "showDevicesTable">
	<thead>
		<caption> <h3> Barcode Scanners </h3> {% if not employee.is_terminated %} <a href = "{% url "inventorysite.views.add_bs" pk=employee.pk %}"> <div class = "addDevice"> Add </div> </a> {% endif %} </caption>
		<th title = "Manufacturer"> Manufacturer </th>
		<th title = "Model"> Model </th>
		<th title = "Serial Number"> Serial Number </th>
		<th title = "Asset Tag"> Asset Tag </th> 
	</thead>
	{% for bs in employee.bscanners.all %}
		<tr class = "viewBS">
			<td title = "{{ bs.bs_manufacturer }}"> {{ bs.bs_manufacturer }} </td>
			<td title = "{{ bs.bs_model }}"> {{ bs.bs_model }} </td>
			<td title = "{{ bs.bs_serial_number }}"> {{ bs.bs_serial_number }} </td>
			<td title = "{{ bs.bs_asset_tag }}"> {{ bs.bs_asset_tag }} </td>
			<td title = "Delete"> <a class = "showDelete" href = "{% url "inventorysite.views.delete_bs" pk=employee.pk pk2=bs.pk %}"> Delete </a> </td>
			<td title = "Return"> <a class = "showDelete" href = "{% url "inventorysite.views.return_bs" pk=employee.pk pk2=bs.pk %}"> Return </a> </td>
			<td title = "Edit"> <a class = "showDelete" href = "{% url "inventorysite.views.edit_bs" pk=employee.pk pk2=bs.pk %}"> Edit </a> </td>
		</tr>
	{% endfor %}
</table> <br>

<table class = "showDevicesTable">
	<thead>
		<caption> <h3> Barcode Scanner Cradles </h3> {% if not employee.is_terminated %} <a href = "{% url "inventorysite.views.add_bsc" pk=employee.pk %}"> <div class = "addDevice"> Add </div> </a> {% endif %} </caption>
		<th title = "Manufacturer"> Manufacturer </th>
		<th title = "Model"> Model </th>
		<th title = "Serial Number"> Serial Number </th>
		<th title = "Asset Tag"> Asset Tag </th>
	</thead>
	{% for bsc in employee.cradles.all %}
		<tr class = "viewBSC">
			<td title = "{{ bsc.bsc_manufacturer }}"> {{ bsc.bsc_manufacturer }} </td>
			<td title = "{{ bsc.bsc_model }}"> {{ bsc.bsc_model }} </td>
			<td title = "{{ bsc.bsc_serial_number }}"> {{ bsc.bsc_serial_number }} </td>
			<td title = "{{ bsc.bsc_asset_tag }}"> {{ bsc.bsc_asset_tag }} </td>
			<td title = "Delete"> <a class = "showDelete" href = "{% url "inventorysite.views.delete_bsc" pk=employee.pk pk2=bsc.pk %}"> Delete </a> </td>
			<td title = "Return"> <a class = "showDelete" href = "{% url "inventorysite.views.return_bsc" pk=employee.pk pk2=bsc.pk %}"> Return </a> </td>
			<td title = "Edit"> <a class = "showDelete" href = "{% url "inventorysite.views.edit_bsc" pk=employee.pk pk2=bsc.pk %}"> Edit </a> </td>
		</tr>
	{% endfor %}
</table> <br>

<table class = "showDevicesTable"> 
	<thead>
		<caption> <h3> Scanners </h3> {% if not employee.is_terminated %} <a href = "{% url "inventorysite.views.add_scanner" pk=employee.pk %}"> <div class = "addDevice"> Add </div> </a> {% endif %} </caption>
		<th title = "Manufacturer"> Manufacturer </th>
		<th title = "Model"> Model </th>
		<th title = "Serial Number"> Serial Number </th>
		<th title = "Asset Tag"> Asset Tag </th>
	</thead>
	{% for scanner in employee.scanners.all %}
		<tr class = "viewScanner">
			<td title = "{{ scanner.scanner_manufacturer }}"> {{ scanner.scanner_manufacturer }} </td>
			<td title = "{{ scanner.scanner_model }}"> {{ scanner.scanner_model }} </td>
			<td title = "{{ scanner.scanner_serial_number }}"> {{ scanner.scanner_serial_number }} </td>
			<td title = "{{ scanner.scanner_asset_tag }}"> {{ scanner.scanner_asset_tag }} </td>
			<td title = "Delete"> <a class = "showDelete" href = "{% url "inventorysite.views.delete_scanner" pk=employee.pk pk2=scanner.pk %}"> Delete </a> </td>
			<td title = "Return"> <a class = "showDelete" href = "{% url "inventorysite.views.return_scanner" pk=employee.pk pk2=scanner.pk %}"> Return </a> </td>
			<td title = "Edit"> <a class = "showDelete" href = "{% url "inventorysite.views.edit_scanner" pk=employee.pk pk2=scanner.pk %}"> Edit </a> </td>
		</tr>
	{% endfor %}
</table> <br>

<table class = "showDevicesTable">
	<thead>
		<caption> <h3> Biometric Scanners </h3> {% if not employee.is_terminated %} <a href = "{% url "inventorysite.views.add_bio" pk=employee.pk %}"> <div class = "addDevice"> Add </div> </a> {% endif %} </caption>
		<th title = "Manufacturer"> Manufacturer </th>
		<th title = "Model"> Model </th>
		<th title = "Serial Number"> Serial Number </th>
		<th title = "Asset Tag"> Asset Tag </th>
	</thead>
	{% for bioscanner in employee.bioscanners.all %}
		<tr class = "viewBio">
			<td title = "{{ bioscanner.bis_manufacturer }}"> {{ bioscanner.bis_manufacturer }} </td>
			<td title = "{{ bioscanner.bis_model }}"> {{ bioscanner.bis_model }} </td>
			<td title = "{{ bioscanner.bis_serial_number }}"> {{ bioscanner.bis_serial_number }} </td>
			<td title = "{{ bioscanner.bis_asset_tag }}"> {{ bioscanner.bis_asset_tag }} </td>
			<td title = "Delete"> <a class = "showDelete" href = "{% url "inventorysite.views.delete_bio" pk=employee.pk pk2=bioscanner.pk %}"> Delete </a> </td>
			<td title = "Return"> <a class = "showDelete" href = "{% url "inventorysite.views.return_bio" pk=employee.pk pk2=bioscanner.pk %}"> Return </a> </td>
			<td title = "Edit"> <a class = "showDelete" href = "{% url "inventorysite.views.edit_bio" pk=employee.pk pk2=bioscanner.pk %}"> Edit </a> </td>
		</tr>
	{% endfor %}
</table> <br>

{% endblock content %}
