* {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, sans-serif, serif;
}

#headerDiv img {
	border: 0;
}

body {
	background-color: #D2D2D2;
}

#headerDiv {
	background-color: #FFFFFF;
	height: 60px;
	margin: -8px -8px 0px -8px;
	overflow: show;
	width: 101%;
	min-width: 1430px;
	border-bottom: 5px solid #000000;
}

#mainBody {
	background-color: #FFFFFF;
	width: 1400px;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	border-bottom: 60px solid #FFFFFF;
}

#contentDiv {
	background-color: #FFFFFF;
	width: 1300px;
	overflow-x: show;
	overflow-y: hidden;
	margin-left: auto;
	margin-right: auto;
}

#loginForm button {
	margin-left: 620px;
	border: 2px solid #A14000;
	background-color: #E65C00;
	border-radius: 3px;
	color: #FFFFFF;
	cursor: pointer;
	cursor: hand;
}

#loginForm p:nth-child(2) {
	margin-left: 480px;
}

#loginForm p:nth-child(3) {
	margin-left: 484.5px;
}

#logoutLink {
	position: static;
	float: right;
	margin-top: -35px;
	margin-right: 10px;
	color: #000000;
	text-decoration: none;
	text-align: center;
}

#logoutLink div {
	border: 2px solid #A14000;
	background-color: #E65C00;
	border-radius: 3px;
	color: #FFFFFF;
	cursor: pointer;
	cursor: hand;
	width: 76px;
}

#searchLink {
	position: static;
	float: right;
	margin-top: -35px;
	margin-right: 100px;
	color: #000000;
	text-decoration: none;
	text-align: center;
}

#searchLink div {
	border: 2px solid #006DFF;
	background-color: #008DFF;
	border-radius: 3px;
	color: #FFFFFF;
	cursor: pointer;
	cursor: hand;
	width: 76px;
}

#addLink {
	position: static;
	float: right;
	margin-top: -35px;
	margin-right: 195px;
	color: #000000;
	text-decoration: none;
	text-align: center;
}

#addLink div {
	border: 2px solid #006DFF;
	background-color: #008DFF;
	border-radius: 3px;
	color: #FFFFFF;
	cursor: pointer;
	cursor: hand;
	width: 76px;
}

#loginP {
	position: static;
	float: right;
	margin-top: -60px;
}

.alignCenter {
	text-align: center;
}

#fillSearchForm button {
	margin-left: 615px;
	border: 2px solid #006DFF;
	background-color: #008DFF;
	border-radius: 3px;
	color: #FFFFFF;
	cursor: pointer;
	cursor: hand;
}

#addDeviceButtons {
	position: absolute;
	width: 260px;
	margin-left: 1040px;
}

#addDeviceButtons input {
	width: 260px;
	text-align: left;
	margin-bottom: 10px;
	border: 2px solid #8C8C8C;
	background-color: #9C9C9C;
	border-radius: 3px;
	color: #FFFFFF;
	cursor: pointer;
	cursor: hand;
}

#addDeviceButtons h3 {
	margin-bottom: 0px;
}

#submitEmployeeInfo {
	position: absolute;
	margin-left: 620px;
	border: 2px solid #006DFF;
	background-color: #008DFF;
	border-radius: 3px;
	color: #FFFFFF;
	cursor: pointer;
	cursor: hand;
}

.newPCForm {
	display: none;
}

.newWDForm {
	display: none;
}

.newPhoneForm {
	display: none;
}

.newLaptopForm {
	display: none;
}

.newPrinterForm {
	display: none;
}

.newBarcodeForm {
	display: none;
}

.newCradleForm {
	display: none;
}

.newScannerForm {
	display: none;
}

.newBioForm {
	display: none;
}

table {
	table-layout: fixed;
	width: 1300px;
}

table th {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

table td {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.showDevicesTable h3 {
	text-align: left;
	margin-bottom: 5px;
	border-bottom: 1px solid black;
}

.showDevicesTable th {
	padding-right: 40px;
	text-align: left;
}

.showDevicesTable td {
	padding-right: 50px;
}

#editLink {
	position: static;
	float: right;
	color: #000000;
	margin-top: -140px;
	text-decoration: none;
	text-align: center;
}

#editLink div {
	border: 2px solid #8C8C8C; 
	background-color: #9C9C9C;
	border-radius: 3px;
	color: #FFFFFF;
	cursor: pointer;
	cursor: hand;
	width: 40px;	
}

#terminateLink {
	position: static;
	float: right;
	color: #000000;
	margin-top: -90px;
	text-decoration: none;
	text-align: center;
}

#terminateLink div {
	border: 2px solid #5C0000; 
	background-color: #990000;
	border-radius: 3px;
	color: #FFFFFF;
	cursor: pointer;
	cursor: hand;
	width: 90px;	
}

.delete_pc {
	position: absolute;
	margin-top: -40px;
	margin-left: 380px;
	border: 2px solid #8C8C8C; 
	background-color: #9C9C9C;
	border-radius: 3px;
	color: #FFFFFF;
	cursor: pointer;
	cursor: hand;	
}

.delete_wd {
	position: absolute;
	margin-top: -40px;
	margin-left: 380px;
	border: 2px solid #8C8C8C;
	background-color: #9C9C9C;
	border-radius: 3px;
	color: #FFFFFF;
	cursor: pointer;
	cursor: hand;	
}

.delete_phone {
	position: absolute;
	margin-top: -40px;
	margin-left: 380px;
	border: 2px solid #8C8C8C;
	background-color: #9C9C9C;
	border-radius: 3px;
	color: #FFFFFF;
	cursor: pointer;
	cursor: hand;	
}

.delete_laptop {
	position: absolute;
	margin-top: -40px;
	margin-left: 380px;
	border: 2px solid #8C8C8C;
	background-color: #9C9C9C;
	border-radius: 3px;
	color: #FFFFFF;
	cursor: pointer;
	cursor: hand;	
}

.delete_printer {
	position: absolute;
	margin-top: -40px;
	margin-left: 380px;
	border: 2px solid #8C8C8C;
	background-color: #9C9C9C;
	border-radius: 3px;
	color: #FFFFFF;
	cursor: pointer;
	cursor: hand;	
}

.delete_bs {
	position: absolute;
	margin-top: -40px;
	margin-left: 380px;
	border: 2px solid #8C8C8C;
	background-color: #9C9C9C;
	border-radius: 3px;
	color: #FFFFFF;
	cursor: pointer;
	cursor: hand;	
}

.delete_bsc {
	position: absolute;
	margin-top: -40px;
	margin-left: 380px;
	border: 2px solid #8C8C8C;
	background-color: #9C9C9C;
	border-radius: 3px;
	color: #FFFFFF;
	cursor: pointer;
	cursor: hand;	
}

.delete_scanner {
	position: absolute;
	margin-top: -40px;
	margin-left: 380px;
	border: 2px solid #8C8C8C;
	background-color: #9C9C9C;
	border-radius: 3px;
	color: #FFFFFF;
	cursor: pointer;
	cursor: hand;	
}

.delete_bis {
	position: absolute;
	margin-top: -40px;
	margin-left: 380px;
	border: 2px solid #8C8C8C;
	background-color: #9C9C9C;
	border-radius: 3px;
	color: #FFFFFF;
	cursor: pointer;
	cursor: hand;	
}

#showSearchTerm h3 {
	display: inline-block;
}

#showSearchTerm p {
	display: inline-block;
}

.addDevice {
	border: 2px solid #8C8C8C;
	background-color: #9C9C9C;
	border-radius: 3px;
	color: #FFFFFF;
	cursor: pointer;
	cursor: hand;
	float: right;
	margin-top: -34px;
}

.deleteDevice {
	border: 2px solid #8C8C8C;
	background-color: #9C9C9C;
	border-radius: 3px;
	color: #FFFFFF;
	cursor: pointer;
	cursor: hand;
	float: right;
	margin-top: -35px;
	margin-right: 50px;
}

#submitNewDevice {
	margin-left: 615px;
	border: 2px solid #006DFF;
	background-color: #008DFF;
	border-radius: 3px;
	color: #FFFFFF;
	cursor: pointer;
	cursor: hand;
}

#cancelNewDevice {
	margin-left: auto;
	margin-right: auto;
	color: #FFFFFF;
	text-decoration: none;
	border: 2px solid #800000;
	background-color: #993333;
	border-radius: 3px;
	width: 70px;
	text-align: center;
}

#cancelNewDeviceA {
	text-decoration: none;
}

.showDelete { 
	color: #000000;
}

.showDevicesTable tr:hover {
	background-color: #CCE6FF;
}

.showDevicesTable h3 {
	background-color: #BED5FF;
}

#falseDelete {
	color: #FFFFFF;
	text-decoration: none;
	border: 2px solid #800000;
	background-color: #993333;
	border-radius: 3px;
	width: 70px;
	text-align: center;
}

#trueDelete {
	position: absolute;
	margin-top: -25px;
	margin-left: 1255px;
	border: 2px solid #297A29;
	background-color: #339933;
	border-radius: 3px;
	color: #FFFFFF;
	cursor: pointer;
	cursor: hand;
}

th {
	cursor: pointer;
	cursor: hand;
}

#showTerminate {
	color: #FF0000;
}

#listsDiv {
	width: 400px;
	height: 500px;
	background-color: #E8E8E8;
}

#listsDiv ul {
	list-style-type: none;
}

#listsDiv li {
	margin-bottom: 5px;
}

#listsDiv a {
	color: #000000;
}

#listsDiv a:hover {
	background-color: #CCE6FF;
}

.blackLink {
	color: #000000;
}

.blackLink:hover {
	background-color: #CCE6FF;
}

#badLogin {
	color: #FF0000;
	text-align: center;
	margin-right: 35px;
}